{{#modal-dialog close='closeChallengeModal' translucentOverlay=true container-class='challenge-style-modal-container'}}
        <button type="button" class="close" {{action "closeChallengeModal"}} aria-hidden="true">&times;</button>
        <h2 class="modal-title">{{challenge.category.name}} - {{challenge.points}}</h2>
        <h4>{{challenge.title}}</h4>
        <p>{{challenge.description}}</p>
        <form class="simple_form form-horizontal">
          <label for="inputFlag" class="sr-only">flag</label>
           {{input type="text" value=flag class="form-control" id="inputFlag" enter="submitFlag" placeholder="Flag" required="required" autofocus="autofocus"}}
            <button class="btn btn-success btn-login-submit challenge-submit" type="submit" {{action 'submitFlag'}}>Submit</button>
            <button class="btn btn-danger btn-cancel-action challenge-cancel" {{action 'closeChallengeModal'}}>Cancel</button> 
        </form>
{{/modal-dialog}}
