<!-- Show Login or Register modals -->
{{#if isShowingLoginModal}}
  {{#modal-dialog close='toggleLoginModal'
                  translucentOverlay=true}}
    <div class="well login-box">
      <form class="form-signin">
        <h2 class="form-signin-heading">Sign in</h2>
        <label for="inputTeamName" class="sr-only">Team Name</label>
        <input type="username" id="inputTeamName" class="form-control" placeholder="Team Name" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-danger btn-cancel-action" {{action 'toggleLoginModal'}}>Cancel</button>
        <button class="btn btn-warning" {{action "toggleLoginRegisterModals"}}>Register</button>
        <button class="btn btn-success btn-login-submit" type="submit">Sign in</button>
      </form>
    </div>
  {{/modal-dialog}}
{{else}}
  {{#if isShowingRegisterModal}}
    {{#modal-dialog close='toggleRegisterModal'
                    translucentOverlay=true}}
      <div class="well login-box">
        <form class="form-signin">
          <h2 class="form-signin-heading">Register</h2>
          <label for="inputEmail" class="sr-only">Email</label>
          Email:<input type="username" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
          <label for="inputTeamName" class="sr-only">Team Name</label>
          Team Name:<input type="username" id="inputTeamName" class="form-control" placeholder="Team Name" required autofocus>
          <label for="inputPassword" class="sr-only">Password</label>
          Password:<input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
          <label for="inputPasswordConfirmation" class="sr-only">Confirm Password</label>
          Password Confirmation:<input type="password" id="inputPasswordConfirmation" class="form-control" placeholder="Confirm Password" required>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="remember-me"> Remember me
            </label>
          </div>
          <button class="btn btn-danger btn-cancel-action" {{action 'toggleRegisterModal'}}>Cancel</button>
          <button class="btn btn-warning" {{action "toggleLoginRegisterModals"}}>Login</button>
          <button class="btn btn-success btn-login-submit" type="submit">Register</button>
        </form>
      </div>
    {{/modal-dialog}}
  {{/if}}
{{/if}}

