{{#modal-dialog translucentOverlay=true}}
    <form class="form-signin">
      <h2 class="form-signin-heading">Sign in</h2>
       <div class="form-group">
      {{input type="text" value=teamname enter="submitLogin" class="form-control" id="inputTeamName" placeholder="Team Name" required="true" autofocus="autofocus" }}
      </div>
      <div class="form-group">
      {{input type="password" value=password enter="submitLogin" class="form-control" id="inputPassword" placeholder="Password"required="required" }}
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button type="button" class="btn btn-danger btn-cancel-action" {{action 'closeLoginModal'}}>Cancel</button>
      <button type="button" class="btn btn-warning" {{action "loginToRegisterModal"}}>Register</button>
      <button type="button" class="btn btn-success btn-login-submit" {{action "submitLogin"}}>Sign in</button>
    
    </form>
{{/modal-dialog}}

