<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
       <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
      {{#link-to "home"}}<a class="navbar-brand" href="/home">{{ctf.name}}</a>{{/link-to}}
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        {{#link-to "challenges" tagName="li"}}<a href="/challenges">Challenges</a>{{/link-to}}
        {{#link-to "scoreboard" tagName="li"}}<a href="/scoreboard">Scoreboard</a>{{/link-to}}
        {{#link-to "about" tagName="li"}}<a href="/about">About</a>{{/link-to}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
      {{#if authController.isAuthenticated}}
        <li><a {{action "openProfileModal"}}>Profile</a></li>
        <li><a {{action "openLogoutModal"}}>Logout</a></li>
      {{else}}
        <li><a {{action "openRegisterModal"}}>Register</a></li>
        <li><a {{action "openLoginModal"}}>Login</a></li>
      {{/if}}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
