{{#modal-dialog close='closeAdminChallengeModal' translucentOverlay=true container-class='challenge-style-modal-container'}}
  {{!-- Creating new challenge --}}
  {{#if modal.adminCategory}}
    <h2 align="center" class="modal-title">Create Challenge</h2>
    <table class="table team-info-table">
      <tbody>
        {{#if modal.errorMessage}}
          <label class="control-label">
            <div class="alert alert-danger edctf-text" style="padding: 5px; margin-bottom: 0px;" role="alert">
              {{modal.errorMessage}}
            </div>
          </label>
        {{/if}}
        <tr class="team-info">
          {{#if modal.errorFields.title}} 
            <div class="form-group has-error">
              <td class="challenge-modal-heading">Title:</td>
              <td class="challenge-modal-field">{{input id="challengeTitle" type="text" value=title enter="createChallenge" class="form-control" placeholder="Title"}}</td>
            </div>
          {{else}}
            <div class="form-group">
              <td class="challenge-modal-heading">Title:</td>
              <td class="challenge-modal-field">{{input id="challengeTitle" type="text" value=title enter="createChallenge" class="form-control" placeholder="Title"}}</td>
            </div>
          {{/if}}
        </tr>
        <tr class="team-info">
          {{#if modal.errorFields.points}} 
            <div class="form-group has-error">
              <td class="challenge-modal-heading">Points:</td>
              <td class="challenge-modal-field">{{input id="challengePoints" type="number" value=points enter="createChallenge" class="form-control" placeholder=1}}</td>
            </div>
          {{else}}
            <div class="form-group">
              <td class="challenge-modal-heading">Points:</td>
              <td class="challenge-modal-field">{{input id="challengePoints" type="number" value=points enter="createChallenge" class="form-control" placeholder=1}}</td>
            </div>
          {{/if}}
        </tr>
        <tr class="team-info">
          {{#if modal.errorFields.description}} 
            <div class="form-group has-error">
              <td class="challenge-modal-heading">Description:</td>
              <td class="challenge-modal-field">{{textarea id="challengeDescription" style="resize:none" type="text" value=description class="form-control" placeholder="Description"}}</td>
            </div>
          {{else}}
            <div class="form-group">
              <td class="challenge-modal-heading">Description:</td>
              <td class="challenge-modal-field">{{textarea id="challengeDescription" style="resize:none" type="text" value=description class="form-control" placeholder="Description"}}</td>
            </div>
          {{/if}}
          {{#if description}}<span class="challenge-modal-preview">Preview</span><div class="challenge-modal-description">{{{description}}}</div>{{/if}}
        </tr>
        <tr class="team-info">
          {{#if modal.errorFields.flag}} 
            <div class="form-group has-error">
              <td class="challenge-modal-heading">Flag:</td>
              <td class="challenge-modal-field">{{input id="challengeFlag" type="text" value=flag enter="createChallenge" class="form-control" placeholder="Flag"}}</td>
            </div>
          {{else}}
            <div class="form-group">
              <td class="challenge-modal-heading">Flag:</td>
              <td class="challenge-modal-field">{{input id="challengeFlag" type="text" value=flag enter="createChallenge" class="form-control" placeholder="Flag"}}</td>
            </div>
          {{/if}}
        </tr>
      </tbody>
    </table>
    <div class="challenge-modal-btn">
      <button type="button" class="btn btn-success btn-login-submit edctf-submit-button" {{action "createChallenge"}}>Create</button>
    </div>
  {{else}}
    {{!-- Editing challenge --}}
    {{#if modal.adminChallenge}}
      <h2 align="center" class="modal-title">Edit Challenge</h2>
      <table class="table team-info-table">
        <tbody>
          {{#if modal.errorMessage}}
            <label class="control-label">
              <div class="alert alert-danger edctf-text" style="padding: 5px; margin-bottom: 0px;" role="alert">
                {{modal.errorMessage}}
              </div>
            </label>
          {{/if}}
          <tr class="team-info">
            {{#if modal.errorFields.title}} 
              <div class="form-group has-error">
                <td class="challenge-modal-heading">Title:</td>
                <td class="challenge-modal-field">{{input id="challengeTitle" type="text" value=modal.adminChallenge.title enter="editChallenge" class="form-control" placeholder=modal.adminChallenge.title}}</td>
              </div>
            {{else}}
              <div class="form-group">
                <td class="challenge-modal-heading">Title:</td>
                <td class="challenge-modal-field">{{input id="challengeTitle" type="text" value=modal.adminChallenge.title enter="editChallenge" class="form-control" placeholder=modal.adminChallenge.title}}</td>
              </div>
            {{/if}}
          </tr>
          <tr class="team-info">
            {{#if modal.errorFields.points}} 
              <div class="form-group has-error">
                <td class="challenge-modal-heading">Points:</td>
                <td class="challenge-modal-field">{{input id="challengePoints" type="number" value=modal.adminChallenge.points enter="editChallenge" class="form-control" placeholder=modal.adminChallenge.points}}</td>
              </div>
            {{else}}
              <div class="form-group">
                <td class="challenge-modal-heading">Points:</td>
                <td class="challenge-modal-field">{{input id="challengePoints" type="number" value=modal.adminChallenge.points enter="editChallenge" class="form-control" placeholder=modal.adminChallenge.points}}</td>
              </div>
            {{/if}}
          </tr>
          <tr class="team-info">
            {{#if modal.errorFields.description}} 
              <div class="form-group has-error">
                <td class="challenge-modal-heading">Description:</td>
                <td class="challenge-modal-field">{{textarea id="challengeDescription" style="resize:none" type="text" value=modal.adminChallenge.description class="form-control" placeholder=modal.adminChallenge.description}}</td>
              </div>
            {{else}}
              <div class="form-group">
                <td class="challenge-modal-heading">Description:</td>
                <td class="challenge-modal-field">{{textarea id="challengeDescription" style="resize:none" type="text" value=modal.adminChallenge.description class="form-control" placeholder=modal.adminChallenge.description}}</td>
              </div>
            {{/if}}
            <td>{{{modal.adminChallenge.description}}}</td>
          </tr>
          <tr class="team-info">
            {{#if modal.errorFields.flag}} 
              <div class="form-group has-error">
                <td class="challenge-modal-heading">Flag:</td>
                <td class="challenge-modal-field">{{input id="challengeFlag" type="text" value=modal.adminChallenge.flag enter="editChallenge" class="form-control" placeholder=modal.adminChallenge.flag}}</td>
              </div>
            {{else}}
              <div class="form-group">
                <td class="challenge-modal-heading">Flag:</td>
                <td class="challenge-modal-field">{{input id="challengeFlag" type="text" value=modal.adminChallenge.flag enter="editChallenge" class="form-control" placeholder=modal.adminChallenge.flag}}</td>
              </div>
            {{/if}}
          </tr>
        </tbody>
      </table>
      <div class="challenge-modal-btn">
        <button type="button" class="btn btn-success btn-login-submit edctf-submit-button" {{action "editChallenge"}}>Edit</button>
        <button type="button" class="btn btn-danger btn-cancel-action edctf-cancel-button" {{action 'deleteChallenge'}}>Delete</button>
      </div>
    {{/if}}
  {{/if}}
{{/modal-dialog}}
