{{#modal-dialog close='closeChallengeModal' translucentOverlay=true container-class='challenge-style-modal-container'}}
        <button type="button" class="close" {{action "closeChallengeModal"}} aria-hidden="true">&times;</button>

        <h2 align="center" class="modal-title">{{challenge.category.name}} - {{challenge.points}}</h2>
        <h3 align="left">{{challenge.title}}</h3>
        <p align="left">{{{challenge.description}}}</p>
        <p align="center">{{challenge.numSolved}} solves</p>

        <form class="simple_form form-horizontal">
            {{#if errorMessage}}
                <label class="control-label"><div class="alert alert-danger" style="padding: 5px; margin-bottom: .4em;" role="alert">{{errorMessage}}</div></label>
            {{else if correctFlagMsg}}
                <label class="control-label"><div class="text-success" style="margin-bottom: .4em;">{{correctFlagMsg}}</div></label>
            {{else if wrongFlagMsg}}
                 <label class="control-label"><div class="text-danger" style="margin-bottom: .4em;">{{wrongFlagMsg}}</div></label>
            {{/if}}

            {{#unless challenge.isSolved}}
                <span class="form-group">
                    {{input type="text" value=flag class="form-control" id="inputFlag" placeholder="Flag"}}
                </span>
                <button class="btn btn-success btn-login-submit challenge-submit" type="submit" {{action 'submitFlag'}}>Submit</button>
            {{/unless}}
            <button class="btn btn-danger btn-cancel-action challenge-cancel" {{action 'closeChallengeModal'}}>Cancel</button> 
        </form>
{{/modal-dialog}}
