<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {{#link-to "home" class="ctf-title cursor-pointer"}}<a class="navbar-brand">{{ctf.name}}</a>{{/link-to}}
    </div>

    <div class="collapse navbar-collapse" id="bs-navbar-collapse">
      <ul class="nav navbar-nav navbar-left">
        {{#link-to "challenges" tagName="li" class="ctf-route cursor-pointer"}}<a>Challenges</a>{{/link-to}}
        {{#link-to "scoreboard" tagName="li" class="ctf-route cursor-pointer"}}<a>Scoreboard</a>{{/link-to}}
        {{#link-to "about" tagName="li" class="ctf-route cursor-pointer"}}<a>About</a>{{/link-to}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
      {{#if session.isAuthenticated}}
        <li class="ctf-route cursor-pointer"><a {{action "openProfileModal"}}>Profile</a></li>
        <li class="ctf-route cursor-pointer"><a {{action "sendLogout"}}>Logout</a></li>
      {{else}}
          <li class="ctf-route cursor-pointer"><a {{action "openRegisterModal"}}>Register</a></li>
        <li class="ctf-route cursor-pointer"><a {{action "openLoginModal"}}>Login</a></li>
      {{/if}}
      </ul>
    </div>
  </div>
</nav>


<ul class="nav nav-sidebar navbar-inverse affix" style="margin-top: -20px;">
  {{#link-to "admin.ctf" tagName="li" class="ctf-route cursor-pointer"}}<a>CTF Settings</a>{{/link-to}}
  {{#link-to "admin.challengeboard" tagName="li" class="ctf-route cursor-pointer"}}<a>Challengeboard</a>{{/link-to}}
  {{#link-to "admin.scoreboard" tagName="li" class="ctf-route cursor-pointer"}}<a>Scoreboard</a>{{/link-to}}
  {{#link-to "admin.teams" tagName="li" class="ctf-route cursor-pointer"}}<a>Teams</a>{{/link-to}}
</ul>
