{{#modal-dialog close='closeProfileModal' translucentOverlay=true}}
  {{yield}}

  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" {{action 'closeProfileModal'}} aria-hidden="true">&times;</button>
      <h1 class="modal-title">{{user.team.teamname}}</h1>
    </div>

    <div class="modal-body">
      Points: {{user.team.points}}<br/>
      Correct Flags: {{user.team.correct_flags}}<br/>
      Wrong Flags: {{user.team.wrong_flags}}<br/>
      Challenges solved: {{user.team.numSolved}}<br/>
    </div>

    {{!--
    <form class="form">
      Email:{{input type="text" value=teamEmail enter="submitRegister" class="form-control" id="inputEmail" placeholder=user.email}}
      <br/>
      Password:{{input type="password" value=password enter="submitRegister" class="form-control" id="inputPassword" placeholder="Password"}}
      <br/>
      Password Confirmation:{{input type="password" value=confirmPassword enter="submitProfile" class="form-control" id="inputPasswordConfirmation" placeholder="Confirm Password"}}
    </form>
    --}}

    <div class="modal-footer">
      <button type="button" class="btn btn-default" {{action 'closeProfileModal'}}>Close</button>
    </div>
  </div>
{{/modal-dialog}}
