{{#modal-dialog close='closeProfileModal' translucentOverlay=true}}
  {{yield}}

  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" {{action 'closeProfileModal'}} aria-hidden="true">&times;</button>
      <h1 class="modal-title team-name">{{user.team.teamname}}</h1>
    </div>

    <div class="modal-body">
      <table class="table table-hover table-condensed" style="width:100%">
        <thead>
          <tr>
            {{#if user.team.position}}
              <th class="team-keys">Rank</th>
            {{/if}}
            <th class="team-keys">Points</th>
            <th class="team-keys">Correct Flags</th>
            <th class="team-keys">Incorrect Flags</th>
            <th class="team-keys">Challenges Solved</th>
          </tr>
        </thead>
        <tbody>
          <tr class="team-values">
            {{#if user.team.position}}
              <td>{{user.team.position}}</td>
            {{/if}}
            <td>{{user.team.points}}</td>
            <td class="team-correct-flags">{{user.team.correct_flags}}</td>
            <td class="team-wrong-flags">{{user.team.wrong_flags}}</td>
            <td>{{user.team.numSolved}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    {{!--
    <form class="form">
      Email:{{input type="text" value=teamEmail enter="submitRegister" class="form-control" id="inputEmail" placeholder=user.email}}
      <br/>
      Password:{{input type="password" value=password enter="submitRegister" class="form-control" id="inputPassword" placeholder="Password"}}
      <br/>
      Password Confirmation:{{input type="password" value=confirmPassword enter="submitProfile" class="form-control" id="inputPasswordConfirmation" placeholder="Confirm Password"}}
    </form>
    --}}

    <div class="modal-footer">
      <button type="button" class="btn btn-default" {{action 'closeProfileModal'}}>Close</button>
    </div>
  </div>
{{/modal-dialog}}
