{{#modal-dialog close='closeProfileModal' translucentOverlay=true}}
  {{yield}}

  <div class="modal-dialog">
    <div class="modal-header">
      <button type="button" class="close" {{action 'closeProfileModal'}} aria-hidden="true">&times;</button>
      <h1 class="modal-title">{{user.team.teamname}}</h1>
    </div>

    <div class="modal-body">
      <table class="table table-hover table-condensed" style="width:100%">
        <thead>
          <tr>
            <th>Rank</th>
            <th>Points</th>
            <th>Correct Flags</th>
            <th>Incorrect Flags</th>
            <th>Challenges Solved</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{user.team.position}}</td>
            <td>{{user.team.points}}</td>
            <td>{{user.team.correct_flags}}</td>
            <td>{{user.team.wrong_flags}}</td>
            <td>{{user.team.numSolved}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    {{!--
    <form class="form">
      Email:{{input type="text" value=teamEmail enter="submitRegister" class="form-control" id="inputEmail" placeholder=user.email}}
      <br/>
      Password:{{input type="password" value=password enter="submitRegister" class="form-control" id="inputPassword" placeholder="Password"}}
      <br/>
      Password Confirmation:{{input type="password" value=confirmPassword enter="submitProfile" class="form-control" id="inputPasswordConfirmation" placeholder="Confirm Password"}}
    </form>
    --}}

    <div class="modal-footer">
      <button type="button" class="btn btn-default" {{action 'closeProfileModal'}}>Close</button>
    </div>
  </div>
{{/modal-dialog}}
