{{nav-bar ctf=ctf modal=modal session=authController.session logout='logout'}}

{{partial 'modal'}}

<div class="main">
  {{#if session.isAuthenticated}}
    {{#if session.isAdmin}} 
      <div class="admin">
        <div class="sidebar">
          {{side-bar}}
        </div>
        <div class="content">
          <div class="container">
            {{outlet}}
          </div>
        </div>
      </div>
    {{else}}
      <div class="content">
        <div class="container">
          {{outlet}}
        </div>
      </div>
    {{/if}}
  {{/if}}
</div>

