{{#if authController.isAuthenticated}}
<div class="container">
  <h1 class="text-center">Challenges</h1>
  <div>
    <table class="table table-striped">
      <tbody>
          {{#each ctf.challengeboard.categories as |category|}}
          <tr class="challenge-tr">
            <td><h2>{{category.name}}</h2></td>
            {{#each category.challenges as |challenge|}}
              {{#if challenge.solved}}
                 <button class="challengeButton challengeButton-solved challengeButton-xlarge sharp" {{action 'openChallenge' challenge.id}}>{{challenge.points}}</button>
              {{else}}
                <button class="challengeButton challengeButton-unsolved challengeButton-xlarge sharp" {{action 'openChallenge' challenge.id}}>{{challenge.points}}</button>
              {{/if}}
            {{/each}}
          </tr>
          {{/each}}
      </tbody>
    </table>
  </div>
</div>
{{/if}}