<div>
   <div class="dropdown pull-right">
      Selected CTF: 
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
        {{#if selectedCtf}}
          {{selectedCtf.name}}
        {{else}}
          Pick a CTF
        {{/if}}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        {{#each sortedCtfs as |ctf|}}
          {{#unless (if-equal ctf.id selectedCtf.id)}}
            <li {{action "changeSelectedCtf" ctf}}><a>{{ctf.name}}</a></li>
          {{/unless}}
        {{/each}}
      </ul>
  </div>
  {{#if selectedCtf}}
    <div class="challenges-title">Challenges for {{selectedCtf.name}}</div>
    <div>
      <table class="table table-hover" style="width:100%;">
        <tbody>
          <tr style="vertical-align: middle !important; border-top: 0px;">
            <button {{action "openCreateCategory"}} type="button" class="btn btn-success edctf-submit-button" style="vertical-align: middle !important;">
              Create New Category
            </button>
          </tr>
          {{#if isCreatingCategory}}
            <tr class="challenge-tr">
              <td class="challenge-category-name">
                {{#if errorMessage}}
                  <label class="control-label">
                    <div class="alert alert-danger" style="padding: 5px; margin-bottom: 0px; font-size: 14px;" role="alert">
                      {{errorMessage}}
                    </div>
                  </label>
                {{/if}}
                {{input id="inputCategory" enter="createCategory" focus-out="closeCreateCategory" type="text" value=newCategoryName class="form-control add-category"}}
              </td>
              <td class="pull-left" style="vertical-align: middle !important; width: 100%;">
              </td>
            </tr>
          {{/if}}
          {{#each selectedChallengeboard.sortedcategories as |category|}}
            <tr class="challenge-tr">
              {{#if (if-equal editingCategory.id category.id)}}
                <td style="width: 120px; border-top: 0px; background: #FFF;">
                  <button id="categoryDelete" {{action "deleteCategory" category}} type="button" class="btn btn-danger edctf-submit-button pagination-centered" style="vertical-align: middle !important; font-size: 16px; line-height: 1.33; margin: 0.15em 0.2em; font-weight: 700; height: 50%;">
                    delete
                  </button>
                </td>
                <td class="challenge-category-name">
                  {{#if errorMessage}}
                    <label class="control-label">
                      <div class="alert alert-danger" style="padding: 5px; margin-bottom: 0px; font-size: 14px;" role="alert">
                        {{errorMessage}}
                      </div>
                    </label> 
                  {{/if}}
                  {{input id="inputCategory" enter="editCategory" focus-out="closeEditCategoryDelayed" type="text" value=editingCategory.name class="form-control add-category"}}
                </td>
              {{else}}
                <td {{action "openEditCategory" category}} class="challenge-category-name">
                  {{category.name}}
                </td>
              {{/if}}
              <td class="pull-left" style="vertical-align: middle !important; width: 100%;">
                {{#each category.sortedchallenges as |challenge|}}
                  <button {{action 'openEditChallenge' challenge}} class="challengeButton challengeButton-unsolved challengeButton-xlarge sharp">{{challenge.points}}</button>
                {{/each}}
                <button {{action "openCreateChallenge" category}} type="button" class="btn btn-success btn-sm edctf-submit-button pagination-centered" style="vertical-align: middle !important; font-size: 24px; line-height: 1.33; margin: 0.15em 0.2em; font-weight: 700; height: 50%;">
                  +
                </button>
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    No CTF selected!
  {{/if}}
</div>
