<!-- Display Nav-bar -->
{{nav-bar isShowingLoginModal=isShowingLoginModal isShowingRegisterModal=isShowingRegisterModal}}


<!-- Show Login or Register modals -->
{{#if isShowingLoginModal}}
  {{login-modal login="login" isShowingLoginModal=isShowingLoginModal isShowingRegisterModal=isShowingRegisterModal}}
{{else}}
  {{#if isShowingRegisterModal}}
    {{register-modal isShowingLoginModal=isShowingLoginModal isShowingRegisterModal=isShowingRegisterModal}}
  {{/if}}
{{/if}}



<div class="container">
  {{outlet}}
</div>