<h1>Top {{numberTopTeams}} Teams:</h1>
{{#each topTeams as |team|}}
<button class="btn btn-primary" {{action 'openTeamView' team.id}}>{{team.teamname}} - {{team.points}}</button>
{{/each}}

<br/>
{{input value=newnumberTopTeams}}
<button {{action "setTopTeams" newnumberTopTeams}}>Set top teams</button>
<br/>

<h1>All Teams:</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Points</th>
        <th>Challenges Solved</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedTeams as |team|}}
        <tr>
          <td><a {{action 'openTeamView' team.id}}>{{team.teamname}}</a></td>
          <td>{{team.points}}</td>
          <td>{{team.solved}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>