{{#if ctf.scoreboard.topteamsdata}}
  <h3>Top {{ctf.scoreboard.numtopteams}} Teams</h3>
  {{c3-chart
    data=ctf.scoreboard.topteamsdata
    axis=c3Options.axis
    point=c3Options.point
    grid=c3Options.grid
  }}
{{/if}}

<br/>
<div class="container">
  <table class="table" style="width:100%">
    <thead>
      <tr>
        <th>Team</th>
        <th>Points</th>
        <th>Challenges Solved</th>
      </tr>
    </thead>
    <tbody>
      {{#each ctf.scoreboard.teams as |team|}}
        <tr>
          <td><a {{action 'openTeamView' team.id}}>{{team.teamname}}</a></td>
          <td>{{team.points}}</td>
          <td>{{team.solved}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>
