<h1>Top {{numberTopTeams}} Teams</h1>
{{#if topteams}}
  {{line-chart data=topteams options=options}}
{{/if}}


<h1>All Teams</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Team</th>
        <th>Points</th>
        <th>Challenges Solved</th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedTeams as |team|}}
        <tr>
          <td><a {{action 'openTeamView' team.id}}>{{team.teamname}}</a></td>
          <td>{{team.points}}</td>
          <td>{{team.solved}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>